.popup {
    position: fixed;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: 160px;
    background: #333;
    color: white;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    transition: bottom 0.4s;
    border-radius: 20px 20px 0 0;
}

.popup.show {
    bottom: 0;
}

#nextBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #4a6cff;
    font-size: 22px;
    width: 220px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
